@font-face {
    font-family: "OT Neue Montreal Condensed";
    src: url(./fonts/OTNeueMontreal-BookExtraSqueezed.otf);
}

:root {
    --font-family: "OT Neue Montreal Condensed", Helvetica, Arial;
    --font-family-alt: Helvetica, Arial, Helvetica, sans-serif;
    font-size: 32px;
    --hover-color: #f5f5f5;
    --add-button: #dbdbdb;
    --cover-background: #dbdbdb;
    --cover-blue: #2f2757;
    --cover-blue-text: #e3d72d;
    --box-shadow: rgba(255, 255, 255, 0.91);
    --scrolling-text-background-color: #1500cf;
    --grey-text: #575757;
    font-family: var(--font-family);
}

body {
    /* height: 100vh; */
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 0 25px;
}

.date {
    position: absolute;
}

.logo {
    display: flex;
    gap: 2px;
    justify-content: center;
    align-items: center;
    padding-right: 75px;
    font-size: 45px;
    margin-left: 45%;
}

.logo>div:nth-child(2) {
    font-size: 65px;
}

.scrolling-text-background {
    background-color: var(--scrolling-text-background-color);
    height: 75px;
    border-top: 1px solid black;
}

.scrolling-text {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    top: 107px;
    font-size: 45px;
    color: #fff;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;
}

.marquee-delay span {
    animation-delay: 10s;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    min-height: calc(100vh - 174px);
    /* border-top: 1px solid black; */
}

.card-container {
    border: 0.5px solid black;
    /* border-right: 1px solid black; */
    perspective: 2000px;
}

.card-inner {
    position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  background-color: var(--cover-background);
}

.card-container:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

.card-back {
    transform: rotateY(180deg);
}

.book-cover {
    /* -webkit-box-shadow: inset 0px 0px 20px -6px var(--box-shadow);
    -moz-box-shadow: inset 0px 0px 20px -6px var(--box-shadow);
    box-shadow: inset 0px 0px 20px -6px var(--box-shadow); */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7%;
    align-items: center;
}

.remove {
    position: absolute;
    bottom: 88%;
    left: 90%;
    font-size: 30px;
    color: #000;
    font-family: var(--font-family-alt);
    font-weight: lighter;
}

.remove:hover {
    cursor: pointer;
}

.title {
    font-size: 45px;
}

/* .blue {
    background-color: var(--cover-blue);
    color: var(--cover-blue-text);
} */

.add-book {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-book:hover {
    background-color: var(--hover-color);
}

.add-book-button {
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 75px;
    color: var(--add-button);
}

.add-book-button:hover {
    cursor: pointer;
}

.blur-background {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    position: absolute;
    top: 0;
    z-index: 1;
}

.pop-up-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 2;
}

.pop-up-window {
    border: 1px solid black;
    background-color: white;
    padding: 25px 50px;
    margin-top: 25px;
    z-index: 3;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.form-title {
    align-self: center;
    font-size: 45px;
}

input, select {
    border: none;
    border-bottom: 1px solid black;
}

select {
    width: 100%;
    font-family: var(--font-family-alt);
    color: var(--grey-text);
}

.required::after {
    content: '*';
    color: red;
    position: absolute;
}

.input-container {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    width: 100%;
}

input[type=text], input[type=number] {
    width: 100%;
}

input[type=checkbox] {
    accent-color: var(--scrolling-text-background-color);
}

.input-container-button {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 10px;
    margin-top: 20px;
}

.button {
    border: none;
    background-color: black;
    color: #fff;
    width: 80px;
    font-family: inherit;
    font-size: 32px;
}

.button:hover {
    cursor: pointer;
}

.not-visible {
    display: none;
}

footer {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px 0;
    border-bottom: 1px solid black;
    border-top: 0.5px solid black;
}

@media screen and (max-width: 1199px) {
    .card-container:nth-child(6) {
        border-bottom: 1px solid black;
    }

    .card-container:nth-child(7) {
        border-bottom: none;
    }

    .card-container:nth-child(8) {
        border-right: 1px solid black;
        border-bottom: none;
    }

    footer {
        border-top: 1px solid black;
    }
}